nav{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 32px;
    background-color: rgb(245,245,247);
    /*opacity: 0.8;*/
    padding: 10px 0px;

    user-select: none;

    display: flex;
    align-items: center;

    backdrop-filter: blur(10px);
}

#page_content{
    width: 82%;
    min-height: 80%;
    margin: 0 auto;
}

#main_content{
    margin-top: 60px;
    min-height: 800px;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
}

#pageTail{
    padding: 15px;
}

#pageTail p{
    /*background-color: rgb(245,245,247);*/
    width: 50%;
    margin: 5px auto;
    text-align: center;
    color: #777;
    user-select: none;
}


#pageTail span{
    /*background-color: rgb(245,245,247);*/
    width: 50%;
    margin: 5px auto;
}

#pageTail a{
    color: #777;
}



.navLink{
    text-decoration: none;
    color: black;
    
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.current_navLink{
    color: rgb(194, 44, 78);
    font-weight: 600;
}

.navLinkContanier_right{
    display: inline-flex;
    justify-content: flex-end;
    flex-grow: 1;
    
}

.currentPageLink{
    color: #51b2d6;
}

.paraLink{
    /* 文段中的链接 */
    
    color: black;
}



.menuLink{
    text-decoration: underline;
    color: #626a76;
    font-size: 15px;
}


.inline{
    display: inline;
}

.hidden{
    display: none;
}


/* 页面布局用：  */

.blockItem{
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 4px 5px 10px #ccc;
}

#a4content{
    width: 50vw;
    max-width: 860px;
    margin: 0 auto;
    margin-top: 80px;

}

#size_limiter{
    width: 60vw;
}