#page1{
    border-radius: 15px;
    opacity: 0.7;

    display: flex;
    justify-content: right;
    align-items: center;

    width: 80%;
    min-height: 75vh;
    min-height: 75svh;

    height: 600px;

    max-height: 80vh;
    max-height: 80svh;
    
}

#widgets_right{
    width: 40%;

    display: flex;
    justify-content: right;
    align-items: center;

    position: absolute;
    right: 23%;

    border-spacing: 20px;
}



.widget{
    background-color: rgba(240, 240, 240, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    user-select: none;
}


#div_how_are_you{
    --width: max(10vw, 180px);    

    width: 10vw;
    min-width: 180px;
    height: 80px;
    


    /*box-shadow: 3px 3px 10px #aaa;*/



    text-align: center;
    vertical-align: middle;

    padding: calc(var(--width) * 0.35) calc(var(--width) * 0.4);

}

#div_how_are_you *{
    text-align: left;
    margin: 0;
}




#new_things{

    padding: 3% 8%;

    

}

#new_things img{
    /*alicecsv_demo.png*/


    width: 43px;
    height: 43px;
    opacity: 1;
    border-radius: 10px;


    border: 1px solid rgba(204, 204, 204, 1);

    box-shadow: 1px 1px 2px  rgba(0, 0, 0, 0.25);

}

#new_things_placer{
    border-spacing:  15px 5px;
}


.NewDocItem{

    width: 100%;
    height: 25px;
    opacity: 1;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);

    margin: 15px 0;

    text-align: center;
    vertical-align: middle;

    transition: background-color ease-out 0.3s;

    cursor: pointer;

}

.NewDocItem:hover{
    background: rgba(255, 255, 255, 0.5);
}

.NewDocItem a{
    font-size: 12px;
    vertical-align: middle;

    color: #000;
    text-decoration: none;
}